@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$white:       #FFFFFF;
$black:       #000000;  
$orange:      #d3842a;
$green:       #2f972f;
$deepblue:    #055185;
$skyblue:     #43bef7;
$medgray:      #B0B0B0;

$color-main: $black;
$color-bg: $white;

$font-main: 'Open Sans', Helvetica, sans-serif;

$break-sm: 550px;
$break-med: 750px;
$break-lg: 1150px;
$min-screen: 350px;
$max-width: 1440px;